
<div class="filter-search-controls">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput id="search" type="text" placeholder="Search products" (input)="onSearchChange($event)">
  </mat-form-field>
</div>
<h2>Product List</h2>


<table mat-table [dataSource]="tableProducts" class="mat-elevation-z1" style="width:100%; margin-bottom: 1rem;">
  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Título </th>
    <td mat-cell *matCellDef="let product"> {{ product.title }} </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let product"> {{ product.price | currency }} </td>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Categoría </th>
    <td mat-cell *matCellDef="let product"> {{ product.category?.name }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['title', 'price', 'category']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['title', 'price', 'category'];"></tr>
</table>

<div class="pagination-controls">
  <button mat-raised-button color="primary" (click)="prevPage()" [disabled]="currentPage() === 1">Anterior</button>
  <button mat-raised-button color="primary" (click)="nextPage()" [disabled]="products().length < itemsPerPage()">Siguiente</button>
</div>